<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="css/styleIndex.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <title>Municipalidad</title><!--Titulo que aparece en la pestaña-->
</head>

<body>
    <header>
        <div class="Logo_UV">
            <img src="img/logouv.png" alt="">
        </div>
        <div class="Logo_MSA">
            <img src="img/logomsa.png" alt="">
        </div>
        <div class="Session">
            <a href="">Iniciar Sesion</a>
            <i class="fas fa-user"></i>
        </div>
    </header>

    <section id="left-section">
        <div id="featured-box" class="display-case">
            <div id="featured-title" class="displaycase-header">
                <h1>Destacados</h1>
            </div>
            <div id="featured-image">
                <img src="img/artesanal.png" alt="">
            </div>
            <div id="featured-details">
                <a>Nombre</a>
                <a>Precio</a>
            </div>
        </div>
        <div id="faq-box" class="display-case">
            <div id="faq-title" class="displaycase-header">
                <h1 >Preguntas Frecuentes</h1>
            </div>
            <button class="btn-question">¿Como puedo comprar un producto?</button>
            <button class="btn-question">¿Como puedo comprar un producto?</button>
            <button class="btn-question">¿Como puedo comprar un producto?</button>
            <button class="btn-question">¿Como puedo comprar un producto?</button>
            <button class="btn-question">¿Como puedo comprar un producto?</button>
        </div>
    </section>
    
    <section id="right-section">
        <div id="products-box" class="display-case">
            <div id="faq-title" class="displaycase-header">
                <h1 >Productos</h1>
            </div>
            <% for(var i = 0; i < datos.length; i++){ %>
            <div class="col col-box">
                <% if(datos[i].imagen == ''){%>
                    <img src="img/default.png" alt="">
                <% }else{%>
                    <img src="img/<%=datos[i].imagen%>" alt="">
                <% } %>
                <div class="desc-product">
                    <p><%= datos[i].descripcion_produc %></p>
                    <a><%= datos[i].precio %></a>
                    <a type="button" class="btn-desc" id='<%= datos[i].id_producto %>' value='<%= datos[i].id_producto %>' onclick="myFunction(this.id)" >ver mas</a>
                </div>
                <div class="title-product">
                    <a><%= datos[i].nombre_producto %></a>
                </div>
            </div>
            <% } %>
        </div>
    </section>

    <footer>
        <div class="Logo_UV">
            <img src="img/logouv.png" alt="">
        </div>
        <div class="Logo_MSA">
            <img src="img/logomsa.png" alt="">
        </div>
    </footer>
    
</body>
<!--<script>//script para cambios en la pagina
    //funcion listen es para cambiar la pantalla a modo movil al ser menor de 750 pixeles
    function listen(e){
        console.log(e);
        if(e.matches){
            //el encabezado se visualizara por columna
            document.querySelector("header").style.flexDirection='column';
        }else{
            //el encabezado se visualizara por fila
            document.querySelector("header").style.flexDirection='row';
        }
    }
    let screenPW = window.matchMedia("(max-width: 750px)");//entrega un true si la pantalla es menor a 750 pixeles
    listen(screenPW);
    screenPW.addListener(listen);//es para que la variable sea escuchada a cada momento
</script>-->
<script>
    /*function myFunction(){
        console.log("HOLA");
        console.log(document.getElementsByClassName("btn-desc").onclick=Boolean(true))
    }
    const button = document.querySelector('.btn-desc');
    button.addEventListener('click', event => {
        console.log(document.getElementsByClassName("btn-desc"));
    });*/
    var global = 0;
    function myFunction(clicked_id){
        this.global=parseInt(clicked_id);
    }
    window.addEventListener('click',event =>{
        console.log(global);
    })
    
</script>
</html>